@import "@mdi/font/css/materialdesignicons.css";

:root {
    --fg: black;
    --bg: white;

    font-family: monospace;

    color: var(--fg);
    background-color: var(--bg);
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg: white;
        --bg: black;
    }
}

.light {
    color-scheme: light;
    --fg: black;
    --bg: white;
}

.dark {
    color-scheme: dark;
    --fg: white;
    --bg: black;
}

html,
body {
    padding: 0;
    margin: 0;
}

.content {
    display: flex;
    justify-content: center;
}

#app {
    width: 100vw;
}

@media (min-width: 480px) {
    #app {
        width: 85vw;
    }
}

@media (min-width: 600px) {
    #app {
        width: 60vw;
    }
}

@media (min-width: 800px) {
    #app {
        width: 45vw;
    }
}

@media (min-width: 1024px) {
    #app {
        width: 30vw;
    }
}

/*@media (min-width: 1200px) {*/
/*    #app {*/
/*        width: 50vw;*/
/*    }*/
/*}*/

a, button, input, fieldset {
    color: var(--fg);
    background-color: var(--bg);
}

button, input, fieldset {
    border: 1px solid;
    border-color: var(--fg);
    border-radius: 1rem;
}
