@import "@mdi/font/css/materialdesignicons.css";

:root {
  --fg: black;
  --bg: white;

  font-family: monospace;

  color: var(--fg);
  background-color: var(--bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: white;
    --bg: black;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

.content {
  display: flex;
  justify-content: center;
}

button {
  border: 1px solid;
  border-color: var(--fg);
  border-radius: 1rem;
  background-color: var(--bg);
  color: var(--fg);
}
